* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    width: 100vw;
    height: 100vh;
}
ul {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
/* header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Warning comp */
.warning {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ededed;
}
.warning div h2,
.warning div h2 a {
    font-weight: 500;
    font-size: 18px;
    color: #708c91;
}
.warning div {
    margin-left: 10px;
}
.warning span img {
    width: 22px;
    height: auto;
}
/* Navbar component */
.navbar-component {
    width: 100%;
    height: 70px;
    background-color: white;
}
.navbar-nav-links {
    height: 100%;
}
.navbar-nav-links,
.navbar-nav-links div ul,
.navbar-flex {
    display: flex;
    flex-direction: row;
}
.navbar-nav-links div ul li a {
    font-size: 17px;
    color: #05b2f7;
    font-weight: 600;
}
.navbar-nav-links,
.navbar-nav-links div ul {
    justify-content: space-around;
    align-items: center;
}

.navbar-nav-links div ul {
    width: 100%;
}
.navbar-nav-links div ul li {
    margin-left: 50px;
}
.navbar-nav-links div ul li h1 {
    color: #054752;
}
.navbar-flex {
    align-items: center;
}
.navbar-flex img {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

/* Home page component */

.homepage-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    position: absolute;
}

div .form-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    top: 40px;
    bottom: 40px;
}

.form-section h2 {
    font-size: 60px;
    max-width: 900px;
    text-align: center;
}
.homepage .form-section h2 {
    color: white;
    padding-bottom: 175px;
}
.homepage,
.homepage > div {
    width: 100%;
    height: 100%;
}
.form-search-carpools {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-search-carpools input {
    border: none;
    padding: 18px;
    font-size: 18px;
}
.form-search-carpools > input:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

.form-search-carpools > input:last-child {
    border-radius: 0 15px 15px 0;
}

.form-search-carpools input[type="number"] {
    width: 80px;
}

.form-search-carpools input[type="submit"] {
    background-color: #00aff5;
    color: white;
    font-weight: 600;
}
.form-search-carpools div {
    min-width: 120px;
    max-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
}
.form-search-carpools div input {
    width: 100%;
    height: 100%;
    margin-left: 28px;
}
.form-search-carpools div img {
    width: 24px;
    position: absolute;
    left: 10px;
}
.form-search-carpools input:focus {
    outline: none;
}

.research-carpools .form-search-carpools > input,
.research-carpools .form-search-carpools > div {
    border: solid 1px black;
}

.form-search-carpools > input:last-child {
    border: solid 1px #00aff5;
}

.research-carpools .form-search-carpools {
    padding-top: 45px;
}

/* Login form */

.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.inputs-login-form a {
    padding: 35px 0;
    font-size: 20px;
    color: rgb(0, 175, 245);
    font-weight: 600;
}
.inputs-login-form .fields-login {
    height: 55px;
    width: 600px;
    padding: 15px;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
}

.inputs-login-form .submit-login {
    border: none;
    background: rgb(0, 175, 245);
    height: 45px;
    width: 120px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
}
.error {
    margin: 25px;
    color: red;
}
